#calculator {
  margin: 100px 50px 50px 50px;
}
* {
  cursor: inherit;
}

body {
  cursor: pointer;
}

td {
  text-align: center;

  padding: 0;
  border: 1px solid #ccc;
  height: 80px;
  width: 80px;
  display: table-cell;
  vertical-align: inherit;
}

.ops {
  background-color: #E17E15;
}
#zero {
  border: 0px;
}
#screen {
  height: 100px;
  width: 322px;
  color: white;
  text-align: right;
  font-size: 70px;
  border: 2px solid #ccc;
  padding-right: 10px;
  background-color: #5A6DAC;
}

tr {
  border: 1px solid #ccc;
  background-color: #E4E3E3;
}
